.container
  .row(style="padding-left:45px;text-align:center;padding-top:80px" )
    %img.img-thumbnail(src="http://qr.liantu.com/api.php?text=http://192.168.1.119:3000/www/")
    %h2(align='center')请扫描二维码以登录！